# System files
# ------------

Icon
.DS_Store


# Tools
# ------------

/.playwright-mcp
/.playwright-mcp/*
/.phpunit.result.cache


# Editors
# ---------------
*.sublime-project
*.sublime-workspace
/.vscode
/.idea
/.idea/*
